---
layout: body
---

{% assign all_posts = site.posts | sort: 'date' | reverse %}

{% assign posts = paginator.posts %}
{% assign post_len = posts | size %}

{% if paginator.page == 1 and post_len > 0 %}
    {% assign post = posts[0] %}
    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <span class="date">{{ post.date | date: '%B %e, %Y' }}</span>
            <h2><a href="{{ post.url | relative_url }}">{{ post.header | newline_to_br }}</a></h2>
            {{ post.excerpt | markdownify }}
        </header>
        {% if post.image %}
        <a href="{{ post.url | relative_url }}" class="image main"><img src="{{ post.image | relative_url }}" alt="{{ post.image_alt }}" /></a>
        {% endif %}
        <ul class="actions special">
            <li><a href="{{ post.url | relative_url }}" class="button large">Full Story</a></li>
        </ul>
    </article>
{% endif %}

{% if paginator.page == 1 and post_len > 1 %}
    {% assign is_first_page_with_posts = true %}{% else %}
    {% assign is_first_page_with_posts = false %}{% endif %}
{% if paginator.page > 1 and post_len > 0 %}
    {% assign is_non_first_page_with_posts = true %}{% else %}
    {% assign is_non_first_page_with_posts = false %}{% endif %}

{% if is_first_page_with_posts or is_non_first_page_with_posts %}
    {% if is_first_page_with_posts %}
        {% assign slice_length = posts | size | minus: 1 %}
        {% assign posts = posts | slice: 1, slice_length %}{% else %}
        {% assign posts = posts %}{% endif %}
    <!-- Posts -->
    <section class="posts">
    {% for post in posts %}
        <article>
            <header>
                <span class="date">{{ post.date | date: '%B %e, %Y' }}</span>
                <h2><a href="{{ post.url | relative_url }}">{{ post.header | newline_to_br }}</a></h2>
            </header>
            {% if post.image %}
            <a href="{{ post.url | relative_url }}" class="image fit"><img src="{{ post.image | relative_url }}" alt="{{ post.image_alt }}" /></a>
            {% endif %}
            {{ post.excerpt | markdownify }}
            <ul class="actions special">
                <li><a href="{{ post.url | relative_url }}" class="button">Full Story</a></li>
            </ul>
        </article>
    {% endfor %}
    </section>
{% endif %}

{% if paginator.total_pages > 1 %}
<!-- Footer -->
<footer>
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Prev</a>
        {% endif %}

        {% if paginator.page > 3 %}
            <a href="{{ paginator.first_page_path | relative_url }}" class="page">{{ paginator.first_page }}</a>
        {% endif %}

        {% if paginator.page > 4 %}
            <span class="extra">&hellip;</span>
        {% endif %}

        {% assign revIndex = paginator.total_pages | minus: paginator.page %}
        {% if paginator.page > 2 %}
            {% assign minPageNumber = paginator.page | minus: 2 %}{% else %}
            {% assign minPageNumber = 1 %}{% endif %}
        {% if revIndex > 2 %}
            {% assign maxPageNumber = paginator.page | plus: 2 %}{% else %}
            {% assign maxPageNumber = paginator.total_pages %}{% endif %}
        {% assign arr = (minPageNumber..maxPageNumber) %}
        {% for pageNumber in arr %}
            {% if pageNumber == 1 %}
                {% assign paginationPage_url = paginator.first_page_path %}{% else %}
                {% assign paginationPage_url = site.paginate_path | replace: '//', '/' | replace: ':num', pageNumber %}{% endif %}
            <a href="{{ paginationPage_url | relative_url }}" class="page{% if pageNumber == paginator.page %} active{% endif %}">{{ pageNumber }}</a>
        {% endfor %}

        {% if revIndex >= 4 %}
            <span class="extra">&hellip;</span>
        {% endif %}

        {% if revIndex >= 3 %}
            <a href="{{ paginator.last_page_path | relative_url }}" class="page">{{ paginator.last_page }}</a>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
        {% endif %}

    </div>
</footer>
{% endif %}
